.idea
sandbox/*
*.pyc
*/__pycache__/
todo
results
.config
env

*.dot
*.svg
artifacts

pyutil.egg-info
dist
build

*.ipynb_checkpoints*
file.db
*.ipynb_checkpoints/*
binder/files/.ipynb_checkpoints
*checkpoint.ipynb

